@import 'tailwindcss';

@theme {
    --dashboard-chrome-h: 5.5rem;

    --color-primary-50: #ebeefa;
    --color-primary-100: #d7ddf4;
    --color-primary-200: #b2bfeb;
    --color-primary-300: #8a9de0;
    --color-primary-400: #667ed7;
    --color-primary-500: #3d5ccc;
    --color-primary-600: #2d48aa;
    --color-primary-700: #21357d;
    --color-primary-800: #162455;
    --color-primary-900: #0b1128;
    --color-primary-950: #050914;

    --color-pgray-50: #fafaf9;
    --color-pgray-100: #f5f5f4;
    --color-pgray-200: #e7e5e4;
    --color-pgray-300: #d6d3d1;
    --color-pgray-400: #a8a29e;
    --color-pgray-500: #78716c;
    --color-pgray-600: #57534e;
    --color-pgray-700: #44403c;
    --color-pgray-800: #292524;
    --color-pgray-900: #1c1917;
}
